@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(64, 47, 196);
    color: rgb(221, 137, 137);
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: rgb(199, 218, 24);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 75%;
    border-radius: 12px;
    padding: 14px;
    background-image: url('bg.jpg');
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 140px;
    background-color: black;
    color: rgb(86, 222, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    margin: 2px;
    padding: 18px;
    width: 70vw;
    cursor: pointer;
    transition: width 0.1s linear;

}

.songItemContainer {
    margin-top: 14px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: rgb(22, 204, 95);
    color: black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 70px;
    margin: 0 5px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 33px;
    display: flex;

}

.timestamp i {

    cursor: pointer;
}

.songInfo {
    position: 0 20px;
    font-family: 'Varela Round', sans-serif;
    margin: 3px;
    display: flex;
}


.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: rgb(86, 86, 82);
    }
}

.volume {
    cursor: pointer;
}

#volumeSlider {
    cursor: pointer;

}

.songName {
    display: flex;
    padding: 12px;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}