@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(64, 47, 196);
    color: rgb(221, 137, 137);
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: rgb(10, 215, 41);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: rgb(11, 220, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boton {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 70vw;
    cursor: pointer;
    transition: width 0.1s linear;

}

.songItemContainer {
    margin-top: 24px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: rgb(22, 204, 95);
    color: black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 70px;
    margin: 0 43px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 15vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: rgb(53, 188, 35);
    }
}

/* Add this to your style.css file */
.seek-tooltip {
    position: absolute;
    background-color: rgba(238, 33, 33, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    top: -30px; /* Position above the progress bar */
    left: 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none; /* Ensure the tooltip doesn't interfere with hover */
}

.bottom {
    position: relative; /* Ensure the tooltip is positioned relative to the bottom container */
}