@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: rgb(86, 230, 24);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(7, 22, 241);
    color: rgb(86, 243, 8);
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 70px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 90vh;
    background-color: black;
    color: rgb(140, 85, 198);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 95%;
    border-radius: 6px;
    padding: 14px;
    background-image: url('bg1.jpg');
}

.bottom {
    position: sticky;
    bottom: 1%;
    height: 120px;
    background-color: black;
    color: rgb(32, 221, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    flex-direction: row;
    display: flex;
    padding: 0 10px;
    margin: 0 10px;
}

.icons i {
    margin: 0 4px;
    cursor: pointer;
    display: flex;  
}

#myProgressBar {
    width: 50vw;
    cursor: pointer;
    transition: width 0.1s linear;
}

.songItemContainer {
    margin: 14px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: rgb(22, 204, 95);
    color: black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 70px;
    margin: 0 5px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 33px;
    display: flex;
}

.timestamp i {
    cursor: pointer;
}
.songInfo {
    position: 0 20px;
    font-family: 'Varela Round', sans-serif;
    margin: 3px;
    display: flex;
}
.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.volume {
    flex-direction: row;
    cursor: pointer;
}

.songName {
    display: flex;
    padding: 12px;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 2100px) {
    body {
        background-color: rgb(85, 230, 17);
    }
}